{%- comment %} Список заметок, сгруппированный по годам. Параметры: posts, lang {% endcomment -%}
{%- assign t = site.data.i18n[include.lang] -%}
{%- assign current_year = "" -%}
{%- for post in include.posts -%}
  {%- assign year = post.date | date: "%Y" -%}
  {%- assign month = post.date | date: "%-m" | minus: 1 -%}
  {%- if year != current_year -%}
    {%- unless forloop.first %}
</ul>
    {%- endunless %}
<h2 class="year">{{ year }}</h2>
<ul class="post-list">
    {%- assign current_year = year -%}
  {%- endif %}
  <li>
    <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d" }} {{ t.months_short[month] }}</time>
    <a href="{{ post.url }}"{% if post.lang != include.lang %} hreflang="{{ post.lang }}"{% endif %}>{{ post.title }}</a>
  </li>
{%- endfor -%}
{%- if include.posts.size > 0 %}
</ul>
{%- endif %}
